.ta{
    width:100%;
    border-radius:10px;

}
option{
    font-size: 17 px;
    gap: 3px;
    width: 100%;
}
.title{
    background-color: white;
    height: 50px;
    width: 100%;
    color: #000;
    border:none;
    border-radius: 7px;
}
.JoditEditor{
    color: black;
}
.jodit__preview-box{
    color: black;
}
.jodit-dialog__header-title{
    color: black;
}
.jodit-status-bar-link{
    visibility: hidden;
}