.receipt{
    display: flex;
}
.head{
    font-size: 50px;
    font-style: italic;
    margin-left: 2.3%;
    color: black;
    
}
@media print {
    @page {
      size: A4; /* Set the page size to auto */
      margin: 0; /* Remove default margins */
    }
  
    body {
      margin:5%; /* Remove default body margin */
    }
  
    #printablediv {
      padding-top: 1; /* Remove top padding */
      padding-bottom: 2; /* Remove bottom padding */
      color:black
    }
  }